html,
body {
    margin: 0;
}

* {
    font-family: Heebo, sans-serif;
}

#header {
    color: #C90909;
    font-size: 1vw;
    font-weight: 100;
    font-style: normal;
    background-color: whitesmoke;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 5vw;
    box-shadow: 0px 1px 10px gray;
}

.no-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#header h1 {
    margin-left: 20px;
}

#header span {
    font-size: 0.7vw;
    color: black;
    font-style: italic;
}

#content {
    margin: 0 auto;
    width: 50vw;
    padding-top: 7vw;
    background-color: white;
}

.player {
    display: none;
}

#playerdiv img {
    width: 100%;
}

#footer {
    margin: 50px auto;
    width: 50vw;
    background-color: white;
}

#footer p {
    color: darkslategray;
}

#footer select {
    font-family: Heebo;
    font-size: 12px;
    background-color: white;
    padding: 2px;
    min-width: 30px;
    border-radius: 6px;
}

#url {
    width: 100%;
    height: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.subGroup {
    font-weight: bold;
    color: darkred;
    font-family: Heebo, Helvetica, sans-serif;
}

optgroup {
    color: #C90909;
}

option {
    color: black;
}

#footer fieldset {
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer fieldset strong {
    font-size: 13px;
}

legend img {
    display: inline;
    height: 25px;
}

legend {
    font-size: 20px;
    color: #C90909;
    text-transform: uppercase;
    font-weight: bold;
}

.selButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background-color: #c90909;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    text-align: center;
    margin-bottom: 10px;
}

.selButton:hover {
    background-color: #c90909;
}

.selButton:active {
    position: relative;
    top: 1px;
}

#danielifyButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.disabled {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #cccccc;
    text-shadow: none;
    color: #666666;
}

.disabled:hover {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #cccccc;
    color: #666666;
}

#help {
    display: none;
    width: 100%;
}

#help h1 {
    color: #7B0000;
}

#help h3 {
    color: #A50000;
}

#help img {
    display: inline;
    height: 25px;
}

#help sup {
    font-size: 5px;
}

#help ol span {
    font-style: italic;
    color: darkgray;
    font-size: 15px;
}

#showHelp {
    background-color: #c90909;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 8px 15px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#showHelp:hover {
    background-color: #bd2a2a;
}
